<br/>
&emsp;
<div class='row align-items-center p-3'>
  <div class='col text-center'>
    <%= image_tag('main_logo.svg', class: 'img-fluid') %>
    <br/>
    &emsp;
    <h3 class='text-primary'>
      <strong>FiscalGang</strong>
      <small>nexus seven generation</small>
    </h3>
    <span class='text-primary'>
      Applicazione gestionale web per richieste prenotazioni CAAF
    </span>
    <br/>
    &emsp;
    <br/>
    <h4 class='text-primary'>
      Versione 3.0.1
    </h4>
    <br/>
  </div>
  <div class='col text-center'>
    <%= image_tag('logo_davosky_connection.svg', class: 'img-fluid') %>
    <br/>
    <br/>
    The Davosky Connection <br/>
    by
    <br/>
    <strong>
      <a href='mailto:davodavosky@gmail.com'>
        Davo Davodsky
      </a>
    </strong>
    <br/>
  </div>
</div>
