<div class="container">
  <div class="row">
    <div class="col">
      <%= render "shared/navbar" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <br/>
      <%= yield %>
    </div>
  </div>
</div>
