html {
  font-family: "RobotoCondensed-Regular";
}
/* DOM */
body {
  font-family: "RobotoCondensed-Regular";
  font-weight: 300;
  font-size: 12pt;
  background-color: $panna;
  padding-top: 5.6rem;
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
.hr-primary {
  height: 0.3rem;
  border-top: solid 0.3rem $primary;
  margin: 1rem 0;
  padding: 0;
}
/* BUTTONS */
.btn {
  font-family: "RobotoCondensed-Regular";
  font-weight: 500;
  font-size: 12pt;
}
/* NAVBAR */
.navbar-nav {
  .nav-item {
    .nav-link {
      color: #fff;

      &:hover {
        background-color: #fff;
        color: $primary;
        border-radius: 0.3rem;
      }
    }
  }
}
.dropdown-menu {
  background-color: $primary;
  color: $white;
  border-color: $white;
  padding: 0.6rem;
}
.dropdown-item {
  //font-family: "RobotoCondensed-Regular";
  font-weight: 300;
  font-size: 12pt;
  color: $white;

  &:hover {
    color: $primary;
    background-color: $white;
    border-radius: 0.3rem;
  }
}
/* FORMS */
.form-control {
  font-family: "RobotoCondensed-Regular";
  font-weight: 500;
  font-size: 12pt;
}
.input-group-text-fixed {
  min-width: 7rem;
  background-color: $gray-100;
}
.form-check-input {
  border: solid 0.2rem $warning;
}
.form-check-input-primary {
  border: solid 0.2rem $primary;
}
.form-check-input-success {
  border: solid 0.2rem $success;
}
.form-check-input-danger {
  border: solid 0.2rem $danger;
}
/* TABLES */
table {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  border-radius: 0.9rem;
}
.tr-unprocessed {
  background-color: $orange-light;
}
.tr-processed {
  background-color: $green-light;
}
.tr-regular {
  background-color: $white;
}
